@{
    ViewData["Title"] = "Naslovnica";
}

<div class="text-center">
    <h2 class="display-4">"Budi i ti dio prgave familije!"</h2>
    <img src="~/slike/hajduk.png" width="325px" height="325px" />
</div>
