@{
    ViewData["Title"] = "O nama";
}
<h1>@ViewData["Title"]</h1><br />

<h3>Aplikaciju izradio:</h3><br />

<ul style="list-style: none">
    <li>Ime: <b>Stipe</b></li>
    <li>Prezime: <b>Blažević</b></li>
    <li>JMBAG: <b>0010235277</b></li>
    <li>Godina studija: <b>3.</b></li>
    <li>Smjer: <b>Poslovna informatika</b></li>
    <li>Razlog: <b>Stranica pokrenuta zbog velikog broja članova Hajduka u Hrvatskoj!</b></li>
