@model ClanoviHNKHajdukSplit.Models.Clanarina

<h1>Ažuriraj podatke o članarini</h1>
<br />
<h4>Članarina: <span style="color: #034ea2">@Model.Vrsta</span></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Vrsta" class="control-label"></label>
                <input asp-for="Vrsta" class="form-control" />
                <span asp-validation-for="Vrsta" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="Cijena" class="control-label"></label>
                <input asp-for="Cijena" class="form-control" />
                <span asp-validation-for="Cijena" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Spremi" class="btn btn-primary" />
            </div>
        </form>
    </div><br />
</div>

<div>
    <a asp-action="Index">Natrag na popis članarina</a>
</div>
<br />

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }

}

